:local .DrugList {
    display: grid;
    grid-template-columns: 0.3fr 0.3fr 0.3fr;
    grid-gap: 50px;
    padding-top: 30px;
    padding-bottom: 50px;
}


@media screen and (max-width: 1050px) {
    :local .DrugList {
        grid-template-columns: 0.2fr 0.2fr;
        grid-gap: 10px;
        padding: 20px;
    }
}

:local .DrugList button {
    height: 60px;
    background: repeating-linear-gradient(0deg,
    transparent 0px, 
    transparent 2px, 
     red 3px, 
     red 2px
   );
   border: 1px solid red;
}

:local .DrugList button:hover {
    background: red;
    color: #202020;
}

:local .ModalBackground {
    background: #202020be;
    position: Fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

:local .WindowedInformation {
    position: fixed;
    left: 30%;
    top: 20%;
    width: 30vw;
    height: fit-content;
    border: 2px solid red;
    padding: 50px;
    background: #202020;
    z-index: 4000;
    animation: FadeIn 0.3s linear;
}

:local .ModalReturn {
    border: none;
}

:local .ModalReturn span {
    transition: all 0.2s ease-in-out;
    padding-left: 0px;
    padding-right: 0px;
}

:local .ModalReturn:hover {
    border: none;
}

:local .ModalReturn:hover span {
    transition: all 0.2s ease-in-out;
    padding-left: 5px;
    padding-right: 5px;
}

@keyframes FadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}