:local .FumbleTableRow {
    display: grid;
    grid-template-columns: 0.1fr 0.7fr;
    grid-template-areas: "range result";
}

:local .FumbleTableWrapper {
    padding-top: 20px;
    padding-bottom: 30px;
    width: 100%;
}

:local .FumbleRange {
    border: 1px solid red;
    padding: 10px;
}

:local .FumbleResult {
    border: 1px solid red;
    padding: 10px;
}

:local .FumbleTableSubmenu {
    animation: FumbleTableAnimation 1s;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 30px;
}

:local .FumbleTableSubmenuButton {
    height: 60px;
    background: repeating-linear-gradient(0deg,
    transparent 0px, 
    transparent 2px, 
     red 3px, 
     red 2px
   );

   border: 1px solid red;
   margin: 10px;
}

:local .FumbleTableSubmenu button:hover {
    background: red;
    color: #202020;
}

:local .FumbleTableSubmenuDetails {
    grid-column: span 3;
    animation: FumbleTableDetailSwitchAnimation 0.5s;
    padding: 20px;
}

:local .FumbleTableSubmenuReturn {
    padding-left: 0px;
    padding-right: 0px;
    transition: all 0.3s;
}

:local .FumbleTableSubmenuReturn:hover {
    padding-left: 5px;
    padding-right: 5px;

    cursor: pointer;
}

:local .FumbleTableReturnMobile {
    display: none;
}

@keyframes FumbleTableAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@keyframes FumbleTableDetailSwitchAnimation {
    from {
        opacity: 0;
        padding-top: 60px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 60px;
    }

    to {
        opacity: 1;
    }
}

@media screen and (max-width: 1050px) { 
    :local .FumbleTableRow {
        grid-template-columns: 1fr 1fr;
    }

    :local .FumbleTableSubmenu {
        grid-template-columns: 1fr;
        row-gap: 10px;
    }

    :local .FumbleTableReturnDesktop {
        display: none;
    }

    :local .FumbleTableReturnMobile {
        display: block;
        width: 100%;
        border: 1px solid red;
        font-size: 1.3em;
        background: repeating-linear-gradient(0deg,
        transparent 0px, 
        transparent 2px, 
         red 3px, 
         red 2px
       );
        padding: 10px;
    }

}