:local .Bordered {
    border: 1px solid red;
    padding: 5px 10px 5px 10px;
}

@media screen and (min-width: 1300px) {
    :local .Lifepath {
        display: grid;
        grid-template-columns: 1fr 0.6fr;
    }
    
    :local .Explanations {
        padding-right: 50px;
    }
    
    :local .Picture {
        grid-column: 2;
    }
    
    :local .Picture img {
        max-height: 55vh;
        padding: 2%;
    }
    
}

@media screen and (max-width: 1300px) {
    :local .Picture {
        display: none;
    }

    :local .MobilePicture img {
        object-fit: cover;
        object-position: 100% 70%;
    }
}