:local .InterlockSplit {
    display: grid;
    grid-template-columns: 0.15fr 1fr;
    column-gap: 5em;
}

:local .InterlockMenu {
    padding-top: 5%;
    grid-column: 1;
}

:local .InterlockIntroduction {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
}

:local .InterlockStats {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    gap: 5%;
}

:local .InterlockIntroductionPicture {
    grid-column: 2;
}

:local .InterlockIntroductionPicture img {
    max-height: 60vh;
    padding: 2%;
}

:local .InterlockStatsSubmenu {
    animation: StatsAnimation 1s;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid red;
    row-gap: 30px;
}

:local .InterlockStatsSubmenuButton {
    height: 80px;
    border: 1px solid red;
    margin: 10px;
    background: repeating-linear-gradient(0deg,
    transparent 0px, 
    transparent 2px, 
     red 3px, 
     red 2px
   );
}

:local .InterlockStatsSubmenu button:hover {
    background: red;
    color: #202020;
}

:local .InterlockStatSubmenuDetails {
    grid-column: span 3;
    animation: StatsDetailSwitchAnimation 0.5s;
    padding: 20px;
}

:local .InterlockReturnSubmenu {
    padding-left: 0px;
    padding-right: 0px;
    transition: all 0.3s;
}

:local .InterlockReturnSubmenu:hover {
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

:local .InterlockStatsBTModifiedTable {
    border: 1px solid red;
    font-size: 14px;
    padding: 10px;
    max-width: 400px;
}

@keyframes StatsAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@keyframes StatsDetailSwitchAnimation {
    from {
        opacity: 0;
        padding-top: 60px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 60px;
    }

    to {
        opacity: 1;
    }
}

:local .InterlockReturnMobile {
    display: none;
}


@media screen and (max-width: 1050px) {
    :local .InterlockReturnMobile {
        display: block;
        font-size: 1.5em;
        border: 1px solid red;
        width: 100%;
        padding: 10px;
    }

    :local .InterlockReturnDesktop {
        display: none;
    }

    :local .InterlockStatsSubmenuButton {
        background: #202020;
        border: 2px solid red;
    }
    
    :local .InterlockSplit {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0%;
    }

    :local .InterlockIntroduction {
        grid-template-columns: 1fr;
        gap: 0%;
    }

    :local .InterlockStats {
        grid-template-columns: 1fr;
    }

    :local .InterlockStatsSubmenu {
        grid-template-columns: 1fr;
        border: 0px;
        padding: 0px;
        gap: 0px;
    }  

    :local .InterlockIntroductionPicture {
        display: none;
    }

    :local .InterlockIntroMobilePic img {
        object-fit: cover;
        object-position: 100% 13%;
    } 
}

@keyframes slideInterlace {
    0% { background-position: 0% 100%; }
    100% { background-position: 0% 0%; }
}
