
.consoleText {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    font-size: 1.5em;
    letter-spacing: .05em; /* Adjust as needed */
    white-space: nowrap; /* Keeps the content on a single line */
    animation: typing 2s steps(120, end);
    font-size: 2em;
}

@media screen and (max-width: 1000px) {
    .consoleText::before {
        content: "> ";
    }

    .consoleText {
        letter-spacing: .05em; /* Adjust as needed */
        width: 95%;
        white-space: normal;
        animation: none;
        border: 1px solid red;  
        text-shadow: 2px 2px #202020;  
        padding: 10px;
        text-align: center;
    }

}
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }
  
  .consoleText:after {
    content: '▍';
    font-weight: bold;
    animation: blink-caret 1.25s infinite;
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
      0% {
          color: transparent;
          text-shadow: none;
      }
  
      45% {
          color: transparent;
          text-shadow: none;
      }
  
      50% {
          color: red;
      }
  
      95% {
          color: red;
      }
  
      100% {
          color: transparent;
          text-shadow: none;
      }
  }