:local .Mainframe {
	padding-left: 20px;
	padding-right: 20px;
}



:local .fullscreenbgvideo {
	width: 100%;
	border-top: 1px solid red;
	grid-row: 2;
	grid-column: span 3;
}

:local .mainframeVideo {
	margin-left: 15%;
	margin-right: 15%;
	border: 1px solid red;
	display: grid;
	grid-template-rows: min-content 1fr;
	grid-template-columns: 0.75fr 1fr 1fr;
}

:local .videoNav {
	font-size: 1.3em;
	padding: 10px;
	grid-row: 1;
	cursor: pointer;
}

:local .videoDescription {
	font-size: 1.3em;
	padding: 10px;
	grid-row: 1;
	border-right: 1px solid red;
}

:local .activeVideo {
	background-color: red;
	color: #202020;
}

/* Mobile screens */
@media screen and (max-width: 1000px) {
	:local .videoDescription {
		display: none;
	}

	:local .videoNav {
		font-size: 0.8em;
	}

	:local .mainframeVideo {
		margin-left: 0;
		margin-right: 0;
		width: fit-content;
	}
}