.Mainframe {
	padding: 20px;
}

.console h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: .15em; /* Adjust as needed */
  animation: typing 2.5s steps(120, end);
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.console h1:after {
  content: ' ▍';
  font-weight: bold;
  animation: blink-caret 1.25s infinite;
}

/* The typewriter cursor effect */
@keyframes blink-caret {
	0% {
		color: transparent;
	}

	45% {
		color: transparent;
	}

	50% {
		color: red;
	}

	95% {
		color: red;
	}

	100% {
		color: transparent;
	}
}