:local .ClassPanel {
  padding-bottom: 20px;
  padding-right: 15px;
}

:local .ClassWindow {
  padding-left: 20px;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
  background: linear-gradient(to right, red 20%, #202020 50%);
  background-size: 200% 100%;
  background-position:right bottom;
  box-shadow: -5px 0px 0px 1px transparent;
}

:local .ClassWindow:hover {
	box-shadow: -5px 0px 0px 1px red;
  cursor: pointer;
}

:local .isActiveClass {
  color: #202020;
  background-position:left bottom;
  transition:all 0.3s ease-in-out;
}

:local .isActiveClass:hover {
  box-shadow: 0px 0px 0px 0px red;
}

@media screen and (min-width: 1000px) {
  :local .ClassSplit {
    display: grid;
    grid-template-columns: 0.15fr 1fr;
  }

  :local .ClassPicture {
    padding-left: 50px;
    grid-column: 2;
  }

  :local .ClassWindow {
    font-size: 1.3rem;

  }
}

@media screen and (max-width: 1050px) {
  :local .ClassSplit {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
  }

  :local .ClassPicture {
    display: none;
  }

  :local .ClassWindow {
    padding-left: 0px;
    font-size: 200%;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0px 0px 0px 0px transparent !important;
    border-bottom: 1px solid darkred;
  }

  :local .ClassPanel {
    border-top: 0px solid red;
  }
}