:local .ClassDetails {
    display: grid;
    grid-template-columns: 0.8fr;
}

:local .Title {
    margin: 0px;
}

:local .ClassSections {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

:local .CareerSkillsGridified {
    display:  grid;
    grid-template-columns: 18vw 1fr;
    column-gap: 10px;
}

:local .CareerSkillsLong {
    grid-column: span 2;
}

:local .ClassDetailContent {
    display: grid;
    grid-template-columns: 1fr 0.4fr;
    border: 1px solid red;
    padding: 20px;
}

:local .ClassDetailPicture {
    object-fit: cover;
}

:local .ClassDetailPicture img {
    max-height: 550px;
    float: right;
}

:local .ClassSections p {
    border: 0px;
    margin: 0px;
}


@media screen and (max-width: 1050px) {
    :local .ClassDetails {
        grid-template-columns: 1fr;
        padding: 0px;
    }

    :local .ClassSections {
        grid-template-columns: 1fr;
    }

    :local .CareerSkillsGridified {
        grid-template-columns: 1fr;
        column-gap: 0px;
    }

    :local .CareerSkillsLong {
        grid-column: span 1;
    }

    :local .ClassPictureMobile {
        object-fit: cover;
        object-position: 100% 0%;
    }

    :local .ClassDetailContent {
        grid-template-columns: 1fr;
    }

    :local .ClassSections p {
        border: 0px;
        margin: 0px;
        padding: 10px;
        text-align: center;
    }

    :local .ClassDetailPicture {
        display: none;
    }    
}