@media screen and (min-width: 1000px) {
  :local .ClassSplit {
    display: grid;
    grid-template-columns: 0.15fr 1fr;
  }

  :local .ClassPicture {
    padding-left: 50px;
    grid-column: 2;
  }
}

@media screen and (max-width: 1050px) {
  :local .ClassSplit {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
  }

  :local .ClassPicture {
    display: none;
  }

  :local .SidebarButton {
    padding-left: 0px;
    font-size: 200%;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0px 0px 0px 0px transparent !important;
    border-bottom: 1px solid darkred;
  }

  :local .ClassPanel {
    border-top: 0px solid red;
  }
}