
/**

	This CSS seriously needs work...

*/

@media only screen and (min-width: 992px) {
	:local .PlayerArtwork {
		display: flex;
		flex-direction: row;
		padding-top: 5%;
		justify-content: center;
		object-fit: cover;
		object-position: 100% 50%;
		overflow: hidden;

	}
}

@media only screen and (max-width: 992px) {
	:local .PlayerArtwork {
		display: flex;
		flex-direction: row;
		padding-top: 10px;
		padding-left: 5%;
		padding-right: 5%;
		width: 90%;
		height: 70vh;
		align-items: center;
		justify-content: center;
	}
}

@media only screen and (max-width: 420px) {
	:local .PlayerArtwork {
		display: flex;
		flex-direction: row;
		padding-top: 10px;
		padding-left: 5%;
		padding-right: 5%;
		width: 90%;
		height: 50vh;
		align-items: center;
		justify-content: center;
	}
}

:local .PlayerArtwork img {
	object-fit: cover;
	object-position: 100% 50%;
	border: 1px solid red;
	flex-wrap: nowrap;
	max-width: 600px;
	max-height: 600px;
	overflow: hidden;
}