:local .TwoColumnSplit {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-gap: 5em;
}

:local .ArmorTable th {
    font-size: 1.1em;
    padding: 10px;
    text-align: center;
    height: 20px;
}

:local .ArmorTable td {
    padding: 10px;
    text-align: center;
    height: 20px;
}

:local .ArmorTable tr {
    padding: 10px;    
}

:local .CoverImageWrapper {
    display: flex;
    justify-content: center;
}

:local .CoverImage {
    padding: 10px;
    height: 370px;
}

@media screen and (max-width: 1000px) {
    :local .CoverImage {
        width: 100%;
        max-width: 375px;
        max-height: 150px;
        object-fit: cover;
        object-position: 100% 70%;
        padding: 0px;
    }

    :local .TwoColumnSplit {
        grid-template-columns: 1fr;
        grid-gap: 0em;
        margin-bottom: 30px;
    }
}