
:local .FNFFIntroduction {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5%;
    margin-bottom: 20px;
}

:local .FNFFIntroductionText {
    grid-column: 1;
}

:local .FNFFIntroductionPicture {
    grid-column: 2;
    margin-top: 10%;
}

:local .FNFFIntroductionPicture img {
    max-height: 60vh;
    padding: 2%;
    opacity: 1;
}

:local .FNFFIntroductionPictureMobile {
    display: none;
}

:local .ExampleBorder {
    padding: 30px;
    border: 1px solid red;
}

:local .ExampleBorder li {
    padding-top: 5px;
    padding-bottom: 5px;
}

:local .BTTable th {
    font-size: 1.1em;
    padding: 10px;
}

:local .BTTable td {
    padding: 10px;
}


:local .TwoColumnGrid {
    display: grid;
    grid-template-columns: 0.3fr 0.3fr;
    grid-template-areas: "First Second";
}

:local .FirstColumn {
    grid-area: "First";
}

:local .FirstColumn h3 {
    margin: 0;
    padding: 5px;
    border: 1px solid red;
}

:local .FirstColumn p {
    margin: 0;
    padding: 5px;
    border: 1px solid red;
}

:local .SecondColumn {
    grid-area: "Second";
}

:local .SecondColumn h3 {
    margin: 0;
    padding: 5px;
    border: 1px solid red;
}

:local .SecondColumn p {
    margin: 0;
    padding: 5px;
    border: 1px solid red;
}

:local .DeathSaveGrid {
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
    grid-template-areas: "First Second";
}

:local .FNFFHitLocationMobile {
    display: none;
}

@media screen and (max-width: 1000px) {
    :local .FNFFIntroduction {
        grid-template-columns: 1fr;
        column-gap: 0%;
    }

    :local .FNFFIntroductionPicture {
        display: none;
    }    

    :local .FNFFIntroductionPictureMobile {
        display: block;
        object-fit: cover;
        object-position: 100% 30%;
    }    

    :local .FNFFHitLocationMobile {
        display: block;
        max-width: 100%;
    }
}