
:local .FNFFAttacksSplit {
    display: grid;
    grid-template-columns: 0.9fr 0.1fr;
    column-gap: 5%;
}

:local .FNFFAttacks {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}

:local .FNFFAttacksInformation {
    grid-column: 1;
}

:local .FNFFAttacksPicture {
    grid-column: 2;
    margin-top: 10%;
}

:local .FNFFAttacksPicture img {
    max-height: 60vh;
    padding: 3%;
    opacity: 1;
}

:local .FNFFAttackMenu {
    margin: 50px;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-gap: 10px;
}

:local .Return {
    padding-left: 0px;
    padding-right: 0px;
}

:local .ReturnWrapper {
    position: sticky;
    font-size: 20px;
    bottom: 0;
    margin: 0;
    width: max-content;
    padding: 10px;
    text-shadow: 2px 2px 2px black;
}

:local .ReturnWrapper:hover {
    background: red;
    color: #202020;
    text-shadow: none;
    cursor: pointer;
}


:local .FNFFAttackMenu button {
    height: 80px;
    width: 100%;
    background: repeating-linear-gradient(0deg,
    transparent 0px, 
    transparent 2px, 
     red 3px, 
     red 2px
   );
   border: 1px solid red;
}

:local .FNFFAttackSmallerMenu {
    margin: 0px;
}

:local .FNFFAttackSmallerMenu button {
    height: max-content;
    width: max-content;
    padding: 10px;
    display: block;
}

:local .FNFFAttackMenu button:hover {
    background: red;
    color: #202020;
}

:local .ExampleBorder {
    width: max-content;
    text-align: center;
    padding: 10px;
    border: 1px solid red;
}

:local .ExampleBorder h3 {
    padding: 10px;
    margin: 0px;
}

:local .ExampleBorder li {
    padding-top: 5px;
    padding-bottom: 5px;
}

:local .liPadding li {
    padding-top: 10px;
    padding-bottom: 10px;
} 

:local .OverrideMaxContent {
    width: initial;
}

:local th {
    border: 1px solid red;
}

:local td {
    padding: 20px;
    border: 1px solid red;
}

:local .AttacksMobilePicture {
    display: none;
}

:local .SplitIntoTwo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
}

@media screen and (max-width: 1000px) {
    :local .ExampleBorder {
        width: 100%;
        padding: 5px;
        border: 1px solid red;
    }

    :local .FNFFAttackSmallerMenu {
        margin: 0px;
        position: fixed;
        bottom:0;
        left: 0px;
        width: 100%;
        background: #202020;
        z-index: 4000;

    }
    
    :local .FNFFAttackSmallerMenu button {
        height: 60px;
        width: 100%;
        border-left: 0px;
        border-right: 0px;
        padding: 10px;
        margin: 0px;
        display: block;
        background: #202020;
    }

    :local .FNFFAttackMenu button {
        background: #202020;
    }

    :local .SplitIntoTwo {
        grid-gap: 0px;
        grid-template-columns: 1fr;
    }

    :local .ReturnWrapper {
        width: 100%;
    }

    :local .FNFFAttacksSplit {
        grid-template-columns: 1fr;
        margin-bottom: 80px;
    }

    :local .FNFFAttackMenu {
        grid-template-columns: 1fr;
        margin: 0px;
    }

    :local .FNFFAttacksPicture {
        display: none;
    }

    :local .AttacksMobilePicture {
        display: block;
        object-fit: cover;
        object-position: 100% 0%;
    }
}


