:local .SavesSplit {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5%;
}

:local .SpecialCasesSplit {
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
    grid-gap: 5%;
}

:local .ModifierTableExtend {
    width: 100%;
}


:local .ModifierTableExtend table {
    width: 100%;
}

@media screen and (max-width: 1050px) {

    :local .TwoColumnGrid {
        grid-template-columns: 1fr;
    }

    :local .SavesSplit {
        grid-template-columns: 1fr;
        grid-gap: 0%;
    }

    :local .SpecialCasesSplit {
        grid-template-columns: 1fr;
        grid-gap: 0%;
    }
}