
:local .TwoColumnGrid {
    display: grid;
    grid-template-columns: 0.3fr 0.3fr;
    grid-template-areas: "First Second";
}

:local .FirstColumn {
    grid-area: "First";
}

:local .FirstColumn h3 {
    margin: 0;
    padding: 5px;
    border: 1px solid red;
}

:local .FirstColumn p {
    margin: 0;
    padding: 5px;
    border: 1px solid red;
}

:local .SecondColumn {
    grid-area: "Second";
}

:local .SecondColumn h3 {
    margin: 0;
    padding: 5px;
    border: 1px solid red;
}

:local .SecondColumn p {
    margin: 0;
    padding: 5px;
    border: 1px solid red;
}

:local .SavesSplit {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-gap: 5%;
}