:local .FadeIn {
    opacity: 1;
    animation: fadeInAnim 0.6s ease forwards;
}

:local .FadeInSlow {
    opacity: 1;
    animation: fadeInAnim 1s ease forwards;
}

:local .FadeInVerySlow {
    opacity: 1;
    animation: fadeInAnim 2s ease forwards;
}

:local .FadeInFast {
    opacity: 1;
    animation: fadeInAnim 0.3s ease forwards;
}

:local .loading {
    display: flex;
    justify-content: center;
  }

:local .loading div {
    position: absolute;
    left: 50%;
    top: 30%;
    width: 64px;
    height: 64px;
    border: 10px solid red;
    border-radius: 50%;
    animation: loadcircle 1.2s cubic-bezier(0.2, 0, 0.3, 1) infinite;
    border-color: red transparent transparent transparent;
  }

:local .loading div:nth-child(1) {
    animation-delay: -0.05s;
  }
:local .loading div:nth-child(2) {
    animation-delay: -0.2s;
  }


@media screen and (max-width: 1000px) {
    :local .loading div {
        left: 30%;
        top: 30%;
        width: 128px;
        height: 128px;
    }
}
@keyframes loadcircle {
    0% {
        transform: rotate(0deg);
        opacity: 0.2
    }
    100% {
        transform: rotate(360deg);
        opacity: 1
    }
}

@keyframes fadeInAnim {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}