:local .FiveTabs {
    display: grid;
    grid-template-columns: 0.7fr 0.7fr 0.7fr 0.7fr 0.7fr 15%;
    grid-template-rows: min-content min-content max-content;
    grid-template-areas: "title title title title title padding"
                         "navigation navigation navigation navigation navigation padding"
                         "content content content content content padding"
}


:local .FourTabs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 15%;
    grid-template-rows: min-content min-content max-content;
    grid-template-areas: "title title title title padding"
                         "navigation navigation navigation navigation padding"
                         "content content content content padding"
}

:local .ThreeTabs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 15%;
    grid-template-rows: min-content min-content max-content;
    grid-template-areas: "title title title padding"
                         "navigation navigation navigation padding"
                         "content content content padding"
}

:local .Mobile {
    display: none;       
}

@media screen and (max-width: 1400px) {
    :local .FiveTabs {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: min-content min-content max-content;
        grid-template-areas: "title title title title title"
                             "navigation navigation navigation navigation navigation"
                             "content content content content content"
    }

    :local .FourTabs {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: min-content min-content min-content;
        grid-template-areas: "title title title title"
                             "navigation navigation navigation navigation"
                             "content content content content"
    }    

    :local .ThreeTabs {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: min-content min-content min-content;
        grid-template-areas: "title title title"
                             "navigation navigation navigation"
                             "content content content"
    }
}



:local .ExampleBorder {
    border: 1px solid red;
    padding: 20px;
    max-width: fit-content;
}

:local .ExampleBorder ul li {
    padding-top: 5px;
    padding-bottom: 5px;
}

:local .Title {
    grid-area: title;
}

:local .ActiveNav {
    transition: 0.1s all linear;
    background: red;
    color: #202020;
    cursor: pointer;
}

:local .NavLink {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.2em;
    padding-bottom: 4px;
    border-bottom: 1px solid red;
    grid-row: navigation;
}

:local .Content {
    border-left: 1px solid red;
    border-bottom: 1px solid red;
    border-right: 1px solid red;
    padding: 20px;
    grid-area: content;
    max-height: min-content;
    overflow: auto;
}

:local .NavLink:hover {
    cursor:  pointer;
}

:local .NotActiveNav:after {
    content: '_';
    font-weight: bold;
    opacity: 0;
}

:local .NotActiveNav:hover:after {
    content: '_';
    font-weight: bold;
    animation: blink-underscore 1.25s infinite;
    opacity: 1;
}

@media screen and (max-width: 1000px) { 
    :local .Desktop {
        display: none;
    }

    :local .Mobile {
        display: initial;
    }

    :local .Mobile button {
        text-align: center;
        width: 100%;
        margin: 0px;
        padding: 10px;
        border: 0px;
        outline: none;
    }

    :local .Content {
        border: 0px;
        padding: 0px;
        grid-area: content;
        overflow: auto;
    }

    :local .FiveTabs {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: max-content;

    }

    :local .FourTabs {
        grid-template-columns: 1fr;
        grid-template-rows: max-content ;

    }    

    :local .ThreeTabs {
        grid-template-columns: 1fr;
        grid-template-rows: max-content;
    }

    :local .NavLink {
        border-bottom: 1px solid red;
    }

    :local .FourTabs span {
        padding: 20px;
    }
    
}

/* The typewriter cursor effect */
@keyframes blink-underscore {
    0% {
        color: red;
    }

    45% {
        color: red;
    }

    50% {
        color: transparent;
    }

    95% {
        color: transparent;
    }

    100% {
        color: red;
    }
}