body {
  margin: 0;
  padding: 0;
  font-family: recharge;
  background: #202020;
}

@font-face {
	font-family: recharge;
	src: url("recharge.ttf");
}

/** Used for the terminal. **/
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*::-moz-focus-inner {
	border: 0;
}