
:local hr {
	color:red;
	background-color: red;
}


:local .mainmenuList ul:focus {
	outline: none;
}

/* Desktop screens */
@media screen and (min-width: 1000px) {
	:local .Mobile {
		display: none;
	}

	:local .cyberpunk_logo {
		text-decoration-color: #202020 !important;
		border-left: 10px solid transparent;
		margin: 10px 0 10px 15px;
		font-size: 1.5em;
	}

	:local .cyberpunk_logo:hover {
		border-left: 10px solid red;
		cursor: pointer;
	}
	
	:local .cyberpunk_logo:focus {
		outline: none;
		cursor: pointer;
	}

	:local .mainmenuList {
		margin-left: 15px;
	}

	:local .mainmenuList button {
		padding-left: 10px;
		margin-right: 15px;
	}
}

/* Mobile screens */
@media screen and (max-width: 1000px) {
	:local .Desktop {
		display: none;
	}

	:local .cyberpunk_logo {
		text-align: center;
	}
	
	:local .cyberpunk_logo:hover {
		cursor: pointer;
		text-align: center;
	}
	
	:local .cyberpunk_logo:focus {
		outline: none;
		box-shadow: -0px 0px 0px 1px red;
		cursor: pointer;
		text-align: center;
	}

	/* Main menu list with options. */
	:local .mainmenuList {
		list-style-type: none;
		text-align: center;
		font-size: 25px;
	}

	:local .mainmenuList p {
		cursor: pointer;
		padding: 15px 15px 15px 7px;
		border-top: 1px solid transparent;
		border-left: 3px solid transparent;
		border-bottom: 1px solid transparent;
	}

	:local .activateMobileList {
		height: 500px;
		transition: all 0.25s ease;
	}

	:local .hiddenMobileList {
		height: 0px;
		color: transparent;
		overflow: hidden;
		transition: all 0.25s ease;
	}
}