
:local hr {
	color:red;
	background-color: red;
}

:local .selectedSection {
	animation-name: redGlitch;
	animation-duration: 0.25s;
	color: #202020;
	background-color: red;
}

:local .selectedSection:hover {
	box-shadow: 0px 0px 0px 0px red !important;
}

:local .mainmenuList ul:hover {
	box-shadow: -5px 0px 0px 1px red;
	cursor: pointer;
}

:local .mainmenuList ul:focus {
	outline: none;
}

/* Desktop screens */
@media screen and (min-width: 1000px) {
	:local .Mobile {
		display: none;
	}

	:local .cyberpunk_logo {
		box-shadow: -10px 0px 0px 1px transparent;
		padding-left: 10px;
		margin: 10px 0 10px 20px;
	}
	
	:local .cyberpunk_logo:hover {
		max-width: 300px;
		box-shadow: -10px 0px 0px 1px red;
		cursor: pointer;
	}
	
	:local .cyberpunk_logo:focus {
		outline: none;
		max-width: 300px;
		box-shadow: -10px 0px 0px 1px red;
		cursor: pointer;
	}

	:local .mainmenuList {
		margin-left: 30px;
		list-style: none;
	}

	:local .mainmenuList ul {
		padding: 0px 15px 0px 7px;
		margin: 0 15px 0 0px;
		display: inline;
		border-top: 1px solid transparent;
		border-left: 3px solid transparent;
		border-bottom: 1px solid transparent;
	}

}

/* Mobile screens */
@media screen and (max-width: 1000px) {
	:local .Desktop {
		display: none;
	}

	:local .cyberpunk_logo {
		box-shadow: -0px 0px 0px 1px transparent;
		text-align: center;
	}
	
	:local .cyberpunk_logo:hover {
		box-shadow: -0px 0px 0px 1px red;
		cursor: pointer;
		text-align: center;
	}
	
	:local .cyberpunk_logo:focus {
		outline: none;
		box-shadow: -0px 0px 0px 1px red;
		cursor: pointer;
		text-align: center;
	}

	/* Main menu list with options. */
	:local .mainmenuList {
		list-style-type: none;
		text-align: center;
		font-size: 25px;
	}

	:local .mainmenuList p {
		cursor: pointer;
		padding: 15px 15px 15px 7px;
		border-top: 1px solid transparent;
		border-left: 3px solid transparent;
		border-bottom: 1px solid transparent;
	}

	:local .activateMobileList {
		height: 500px;
		transition: all 0.25s ease;
	}

	:local .hiddenMobileList {
		height: 0px;
		color: transparent;
		overflow: hidden;
		transition: all 0.25s ease;
	}
}



@keyframes redGlitch {
  0%   {color: red; text-shadow: 0px 3px 0px red; }
  25%  {color: black; text-shadow: 6px 2px 1px red;}
  35%  {color: green; text-shadow: 6px 2px 1px red;}
  40%  {color: red; text-shadow: 3px -3px 2px red; }
  50%  {color: blue; text-shadow: -10px -3px -2px black; }
  65%  {color: red; text-shadow: 4px 7px -0px black; }
  75%  {color: green; text-shadow: -2px 5px 1px black;}
  100% {color: red; text-shadow: 0px 0px 0px red; }
}