:local .Pictureentering {
    animation: fadeInAnim 0.2s ease-in;
    opacity: 1;
}

:local .Pictureexited {
    animation: fadeOutAnim  0.2s ease-out;
}

@keyframes fadeInAnim {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOutAnim {
    from { opacity: 0; }
    to { opacity: 1; }
}