:local .SidebarButton {
    width: 230px;
    padding: 5px;
    font-size: 1.4rem;
    margin: 10px;
    transition: background 0.25s ease-in-out, color 0.25s ease-in-out;
    background-image: linear-gradient(to right, red 0%,#202020 48% );
    background-position: right center;
    background-size: 210% 100%;
    border-left: 7px solid transparent;
}

:local .MobileReturnButton {
    display: none;
}

@media screen and (max-width: 1000px) {
    :local .MobileReturnButton {
        display: block;
    }

    :local .MobileShown {
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #202020;
        animation: fadeIn 0.2s ease-in-out;
        z-index: 4000;
    }

    :local .MobileHidden {
        display: none;
    }

    :local .SidebarButton {
        width: 100%;
    }

    :local .SidebarButton:hover {
        border-left: 7px solid transparent;
    }
}

:local .SidebarButton:hover {
    cursor: pointer; 
}

:local .SidebarButtonActive {
    color: #202020;
    background-position: left center;
    box-shadow: -1px 0px 0 0 red;
    border-left: 3px;
    padding-left: 12px;
}

:local .SidebarButtonActive:hover {
    color: #202020;
    background-position: left center;
    box-shadow: -1px 0px 0 0 red;
    border-left: 8px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

 
    to {
        opacity: 1
    }
}