
:local .NightCityCorporations {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5%;
}


:local .NightCityCorporationChosen {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3%;
}

:local .PadOutCorporation {
    padding-right: 15%;
}

:local .NightCityCorporationPicture img {
    padding: 10px;
    margin: 0px;
}

:local .NightCityCorporationLogo img {
    padding: 10px;
    margin: 20px;
    max-width: 500px;
    max-height: 200px;
}

:local .NoMarginHeader {
    margin: 0;
}

:local .BackButton {
    padding: 0;
    margin-bottom:10px;
    width: max-content;
    border-bottom: 1px solid transparent;
}

:local .BackButton:hover {
    border-bottom: 1px solid red;
}

:local .BackButton span {
    transition: ease 0.4s;
}

:local .BackButton span:hover {
    cursor: pointer;
    margin: 5px;
}

:local .NightCityCorporationGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5%;
}

:local .NightCityCorporationGrid button {
    height: 80px;
    background: repeating-linear-gradient(0deg,
    transparent 0px, 
    transparent 2px, 
     red 3px, 
     red 2px
   );

   border: 1px solid red;
}

:local .NightCityCorporationGrid button:hover {
    background: red;
    color: #202020;
}

:local .ExampleBorder {
    padding: 20px;
    max-width: max-content;
    border: 1px solid red;
}

:local .RegionalOfficeSplit {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

:local .EmployeeSplit {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    margin: 0;
    gap: 0;
}


:local .BackButtonMobile {
    display: none;
}


@media screen and (max-width: 1000px) {
    :local .NightCityCorporations {
        grid-template-columns: 1fr;
        column-gap: 0%;
        margin-bottom: 30px;

    }

    :local .NightCityCorporationLogo img {
        padding: 0px;
        margin: 0px;
        max-width: 300px;
        max-height: 200px;
    }

    :local .EmployeeSplit {
        grid-template-columns: 1fr;
        padding-bottom: 20px;
    }

    :local .RegionalOfficeSplit {
        grid-template-columns: 1fr;
    }

    :local .NightCityCorporationPicture {
        display: none;
    }

    :local .NightCityCorporationChosen {
        grid-template-columns: 1fr;
        gap: 0%;
    }

    :local .NightCityCorporationGrid {
        grid-template-columns: 1fr;
        gap: 3%;
    }

    :local .NightCityCorporationGrid button {
        background: #202020;
    }

    :local .PadOutCorporation {
        padding-right: 0%;
        margin-bottom: 80px;
    }

    :local .FirstSessionPictureMobile  {
        object-position: 100% 30%;
        object-fit: cover;
    }

    :local .BackButton {
       display: none;
    }

    :local .BackButtonMobile {
       text-shadow: 1px 1px 4px black;
       display: block;
       height: 70px;
       border-top: 2px solid red;
       width: 100%;
       z-index: 2020;
    }

    :local .BackButtonMobile:hover {
        border-top: 2px solid red;
        border-left:0px;
        border-bottom: 0px;
        border-right: 0px;
        padding: 0px;
     }

    :local .BackButtonMobileBackground {
        background: #202020;
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }


}
