:local .NightCityMaps {
    display: flex;
    flex-direction: column;
    width: 50%;
}

:local .MapPicture {
    cursor: pointer;
}

@media screen and (max-width: 1050px) {
    :local .NightCityMaps {
        width: 100%;
    }

    :local .MapPicture img {
        display: block;
        max-width: 80%;
    }
}