:local .NightCityMaps {
    display: flex;
    flex-direction: column;
    width: 70%;
}

:local .MapPicture img {
    cursor: pointer;
}

@media screen and (max-width: 1050px) {
    :local .NightCityMaps {
        width: 100%;
    }

}