:local .NightCityMaps {
    display: flex;
    flex-direction: column;
    width: 70%;
}

:local .MapPicture {
    max-width: 1200px;
    border: 1px solid red;
    cursor: pointer;
}

@media screen and (max-width: 1050px) {
    :local .NightCityMaps {
        width: 100%;
    }

    :local .MapPicture {
        max-width: 100%;
        border: 1px solid red;
    }
}